.cont-mob-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: #dadada;
  width: 396px;
  height: 534px;
}
.lets-get-to,
.regarding {
  position: absolute;
  line-height: 100.5%;
  font-weight: 900;
  display: inline-block;
}
.lets-get-to {
  top: 29px;
  left: 19px;
  font-size: var(--font-size-9xl);
  width: 267px;
  height: 41px;
}
.regarding {
  top: 86px;
  left: 20px;
  width: 137px;
  height: 24px;
}
.how-can-i,
.regard-field-inputtextarea {
  position: absolute;
  top: 86px;
  left: 135px;
}
.how-can-i {
  top: 155px;
  left: 19px;
  line-height: 100.5%;
  font-weight: 900;
  display: inline-block;
  width: 208px;
  height: 24px;
}
.help-field-inputtextarea {
  position: absolute;
  top: 153px;
  left: 214px;
}
.enter-email-here,
.enter-phone-here,
.other-options,
.your-contact-info {
  position: absolute;
  top: 227px;
  left: 20px;
  line-height: 100.5%;
  font-weight: 900;
  display: inline-block;
  width: 240px;
  height: 24px;
}
.enter-email-here,
.enter-phone-here,
.other-options {
  top: 259px;
  left: 55px;
  font-size: var(--font-size-8xl);
  font-weight: 100;
  color: var(--color-gray-1200);
}
.enter-phone-here,
.other-options {
  top: 299px;
}
.other-options {
  top: 339px;
}
.email-field-inputtextarea {
  position: absolute;
  top: 255px;
  left: 39px;
}
.email-field-inputtextarea1 {
  position: absolute;
  top: 295px;
  left: 39px;
}
.email-field-inputtextarea2,
.work-submit {
  position: absolute;
  top: 335px;
  left: 39px;
}
.work-submit {
  width: 147px;
  top: 416px;
  left: 135px;
}
.cont-mob {
  position: relative;
  width: 100%;
  height: 534px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-gujarati-ui);
}
