.hepha-hero-icon1 {
  position: absolute;
  top: 0;
  left: 400px;
  width: 70%;
  height: 150vh;
  object-fit: cover;
}
.designer1,
.i-am-a1 {
  font-family: var(--font-nobile);
  color: var(--color-turquoise);
}
.designer1 {
  position: absolute;
  top: 297px;
  left: 53px;
  font-size: var(--font-size-17xl);
  line-height: 100.5%;
  display: inline-block;
  width: 539px;
  height: 79px;
}
.i-am-a1 {
  top: 253px;
  left: 63px;
  font-size: 23px;
  width: 211px;
  height: 40px;
}
.b,
.i-am-a1,
.programmer1 {
  position: absolute;
  line-height: 100.5%;
  display: inline-block;
}
.programmer1 {
  top: 386px;
  left: 53px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-nobile);
  color: #00dffd;
  width: 844px;
  height: 79px;
}
.b {
  top: 340px;
  left: 734px;
  font-size: 41px;
  font-family: var(--font-lexend);
  color: var(--color-turquoise);
  width: 39px;
  height: 46px;
}
.some-of-the {
  font-size: 22px;
}
.hero-interest-peak2,
.hero-interest-peak3 {
  position: absolute;
  line-height: 142.5%;
  display: inline-block;
}
.hero-interest-peak2 {
  top: 506px;
  left: 8px;
  font-weight: 900;
  text-align: right;
  width: 539px;
  height: 75px;
  font-size: var(--font-size-12xl);
}
.hero-interest-peak3 {
  top: 5px;
  left: 151px;
  font-size: var(--font-size-2xl);
  font-weight: 200;
  width: 181px;
  height: 22px;
}
.hello-i-am1 {
  font-weight: 600;
}
.span7 {
  font-size: var(--font-size-15xl);
}
.eyob1 {
  font-size: 107px;
}
.intro-greet1 {
  position: absolute;
  top: 1115px;
  left: 474px;
  line-height: 100.5%;
  color: var(--color-tan-100);
  display: inline-block;
  width: 521px;
  height: 197px;
  font-size: 72px;
}
.div1-4-icon3 {
  top: 0;
  left: 0;
  width: 663px;
  object-fit: cover;
}
.div1-1-icon3,
.div1-4-icon3,
.div31 {
  position: absolute;
  height: 121px;
}
.div1-1-icon3 {
  top: 0;
  left: 633px;
  width: 663px;
  object-fit: cover;
}
.div31 {
  top: 3204px;
  left: 37px;
  width: 1296px;
}
.div1-4-icon4 {
  top: 0;
  left: 0;
  width: 663px;
  object-fit: cover;
}
.div1-1-icon4,
.div1-4-icon4,
.div11,
.div21 {
  position: absolute;
  height: 114px;
}
.div1-1-icon4 {
  top: 0;
  left: 633px;
  width: 663px;
  object-fit: cover;
}
.div11,
.div21 {
  top: 2684px;
  left: 35px;
  width: 1296px;
}
.div11 {
  top: 1947px;
  height: 121px;
}
.certificates7,
.projects6 {
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  font-weight: 900;
  text-align: right;
  height: 71px;
}
.certificates7 {
  position: absolute;
  top: 1972px;
  left: 734px;
  display: inline-block;
  width: 572px;
}
.projects6 {
  top: 2702px;
  left: 813px;
  width: 493px;
}
.about-me6,
.comma,
.intro-name1,
.projects6 {
  position: absolute;
  display: inline-block;
}
.about-me6 {
  top: 3242px;
  left: 825px;
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  font-weight: 900;
  text-align: right;
  width: 493px;
  height: 71px;
}
.comma,
.intro-name1 {
  top: 1224px;
  left: 785px;
  font-size: var(--font-size-8xl);
  line-height: 147.5%;
  color: var(--color-tan-100);
  width: 201px;
  height: 56px;
}
.comma {
  top: 1214px;
  left: 751px;
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  width: 34px;
  height: 60px;
}
.and-i-shall2 {
  margin: 0;
  font-size: 49px;
}
.intro-detail1 {
  position: absolute;
  top: 1408px;
  left: 30px;
  line-height: 197.5%;
  font-weight: 300;
  display: inline-block;
  width: 767px;
  height: 540px;
}
.cer1-icon1,
.cer3-icon1,
.cer6-icon1 {
  position: absolute;
  top: 2069px;
  left: 139px;
  width: 258px;
  height: 179px;
  object-fit: cover;
}
.cer3-icon1,
.cer6-icon1 {
  top: 2287px;
}
.cer6-icon1 {
  top: 2505px;
}
.cer2-icon1 {
  top: 2069px;
  left: 554px;
  object-fit: cover;
}
.cer2-icon1,
.cer4-icon1,
.cer5-icon1,
.cer71 {
  position: absolute;
  width: 258px;
  height: 179px;
}
.cer71 {
  top: 2505px;
  left: 554px;
  background-color: var(--color-gray-200);
}
.cer4-icon1,
.cer5-icon1 {
  top: 2287px;
  left: 969px;
  object-fit: cover;
}
.cer4-icon1 {
  left: 554px;
}
.pr-1-1-icon1,
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-1-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  position: absolute;
  top: 2799px;
  left: 139px;
  width: 258px;
  height: 179px;
  object-fit: cover;
}
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-1-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 3017px;
}
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 2799px;
  left: 554px;
}
.pr-1-3-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 3017px;
}
.pr-1-3-icon1,
.pr-2-3-icon1 {
  left: 969px;
}
.pr-1-3-icon1 {
  top: 2799px;
}
.footer-img-icon,
.info-athena-icon1 {
  position: absolute;
  top: 4598px;
  left: 0;
  width: 1366px;
  height: 807px;
  object-fit: cover;
}
.info-athena-icon1 {
  top: 857px;
  width: 507px;
  height: 551px;
}
.a-designer-find {
  font-size: var(--font-size-8xl);
}
.connect2,
.hero-more1 {
  position: absolute;
  display: inline-block;
}
.hero-more1 {
  top: 599px;
  left: 53px;
  line-height: 142.5%;
  font-weight: 900;
  width: 713px;
  height: 158px;
  font-size: 47px;
}
.connect2 {
  top: 5074px;
  left: 54px;
  font-size: 99px;
  line-height: 100.5%;
  font-family: var(--font-overlock-sc);
  width: 424px;
  height: 239px;
}
.comment1,
.regarding3 {
  position: absolute;
  top: 4891px;
  left: 897px;
}
.regarding3 {
  top: 4794px;
  left: 54px;
  font-size: var(--font-size-10xl);
  line-height: 100.5%;
  font-family: var(--font-overlock-sc);
  text-align: center;
  display: inline-block;
  width: 367px;
  height: 35px;
}
.component-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.software-dev9 {
  position: absolute;
  height: 71.43%;
  width: 86.67%;
  top: 14.29%;
  left: 6.67%;
  line-height: 100.5%;
  display: inline-block;
}
.component-1 {
  position: relative;
  width: 271px;
  height: 35px;
  flex-shrink: 0;
}
.soft {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-11 {
  position: relative;
  width: 304px;
  height: 53px;
  flex-shrink: 0;
}
.app1 {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-12 {
  position: relative;
  width: 239px;
  height: 35px;
  flex-shrink: 0;
}
.web1 {
  text-decoration: none;
  position: absolute;
  top: 4996px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-13 {
  position: relative;
  width: 281px;
  height: 35px;
  flex-shrink: 0;
}
.front1 {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 312px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-14 {
  position: relative;
  width: 221px;
  height: 35px;
  flex-shrink: 0;
}
.logo-des {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 363px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-15 {
  position: relative;
  width: 276px;
  height: 35px;
  flex-shrink: 0;
}
.banner1 {
  text-decoration: none;
  position: absolute;
  top: 4996px;
  left: 291px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-16 {
  position: relative;
  width: 182px;
  height: 35px;
  flex-shrink: 0;
}
.branding {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 608px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-17 {
  position: relative;
  width: 208px;
  height: 35px;
  flex-shrink: 0;
}
.cosult {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 607px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-18 {
  position: relative;
  width: 138px;
  height: 35px;
  flex-shrink: 0;
}
.drinks1 {
  text-decoration: none;
  top: 4996px;
  left: 589px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 28px;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.drinks1,
.group-icon2,
.telegram1 {
  position: absolute;
  overflow: hidden;
}
.group-icon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.telegram1 {
  text-decoration: none;
  top: 5357.4px;
  left: 259px;
  width: 45px;
  height: 45px;
}
.vector-icon2 {
  height: 83.13%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.54%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.facebook1,
.group-icon3,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.facebook1 {
  text-decoration: none;
  top: 5356.4px;
  left: 98px;
  width: 48px;
  height: 48px;
}
.group-icon3 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.instagram1,
.twitter1 {
  text-decoration: none;
  position: absolute;
  top: 5354.4px;
  left: 177px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.instagram1 {
  top: 5356.4px;
  left: 19px;
  width: 48px;
  height: 48px;
}
.footer-div {
  position: absolute;
  top: 5333px;
  left: 60px;
  border-top: 4px solid rgba(255, 255, 255, 0.57);
  box-sizing: border-box;
  width: 1246px;
  height: 4px;
}
.copyright1 {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 100.5%;
  display: inline-block;
  width: 80px;
  height: 13px;
}
.ricopyright-fill-icon1 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.copyright-parent {
  position: absolute;
  top: 5366px;
  left: 1231px;
  width: 85px;
  height: 23px;
  font-size: var(--font-size-4xl);
}
.jobera-designs1 {
  position: absolute;
  top: 6px;
  left: 0;
  line-height: 100.5%;
  display: inline-block;
  width: 116px;
  height: 13px;
}
.mditm-icon1 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.tm1 {
  position: absolute;
  top: 5370.4px;
  left: 1074px;
  width: 125px;
  height: 19px;
  font-size: var(--font-size-4xl);
}
.feedback-submit1,
.feedback1 {
  width: 142px;
  position: absolute;
  top: 5136px;
  left: 1041px;
}
.feedback1 {
  height: 0.28%;
  width: 36.9%;
  top: 89.92%;
  left: 63.76%;
  line-height: 100.5%;
  display: inline-block;
  font-family: var(--font-laila);
}
.info-img-icon1 {
  position: absolute;
  top: 757px;
  left: 806px;
  width: 560px;
  height: 914px;
  object-fit: cover;
}
.hero-contact-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 46px;
  background-color: #f0d5b4;
}
.contact-me {
  position: absolute;
  width: 95.18%;
  top: 28.26%;
  left: 2.57%;
  line-height: 100.5%;
  display: inline-block;
}
.contact-me:hover {
  color: var(--color-white);
}
.hero-contact {
  position: absolute;
  top: 660px;
  left: 1034px;
  width: 311px;
  height: 92px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--font-laila);
}
.logo-icon2 {
  position: absolute;
  top: 13px;
  left: 0;
  width: 182px;
  height: 156px;
  object-fit: cover;
}
.about-me7 {
  position: relative;
  line-height: 197.5%;
  background: linear-gradient(87.72deg,#fff, #3687ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  position: absolute;
  top: 48px;
  left: 1021px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-12xl);
}
.home {
  position: relative;
  line-height: 197.5%;
}
.home-wrapper,
.intro-wrapper,
.projects-wrapper {
  position: absolute;
  height: 94.64%;
  width: 12.54%;
  top: 0;
  right: 87.46%;
  bottom: 5.36%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.intro-wrapper,
.projects-wrapper {
  width: 13.17%;
  right: 65.67%;
  left: 21.16%;
}
.projects-wrapper {
  width: 18.81%;
  top: 5.36%;
  right: 0;
  bottom: 0;
  left: 81.19%;
}
.certifications {
  position: relative;
  line-height: 197.5%;
  cursor: pointer;
}
.certifications-wrapper {
  position: absolute;
  height: 94.64%;
  width: 31.82%;
  top: 0;
  right: 26.18%;
  bottom: 5.36%;
  left: 42.01%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav {
  position: absolute;
  top: 59px;
  left: 168px;
  width: 638px;
  height: 56px;
  font-size: var(--font-size-8xl);
}
.homepage {
  position: relative;
  background-color: #0a0505;
  width: 100%;
  height: 5405px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-gujarati-ui);
}

  .about-box12,
  .about-box2 {
    position: absolute;
    top: 4009px;
    left: -27px;
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1393px;
    height: 680px;
  }
  .about-box12 {
    top: 3326px;
    height: 633px;
  }
  .eth-king-icon1,
  .eth-queen-icon1 {
    position: absolute;
    top: 3326px;
    left: 0;
    width: 680px;
    height: 680px;
    object-fit: cover;
  }
  .eth-queen-icon1 {
    top: 3907px;
    left: 584px;
    width: 782px;
    height: 782px;
  }
  .ethiopia1,
  .who-is-eyob1 {
    position: absolute;
    top: 3379px;
    left: 634px;
    font-size: var(--font-size-16xl);
    line-height: 100.5%;
    display: inline-block;
    color: var(--color-gray-600);
    width: 732px;
    height: 132px;
  }
  .ethiopia1 {
    top: 4009px;
    left: 134px;
    width: 450px;
    height: 80px;
  }
  .a-little-bit1 {
    top: 3551px;
    left: 771px;
    font-size: var(--font-size-13xl);
    line-height: 100.5%;
    font-weight: 500;
    color: var(--color-gray-300);
    width: 363px;
    height: 37px;
  }
  .a-little-bit1,
  .me1,
  .mother-land1 {
    position: absolute;
    display: inline-block;
  }
  .mother-land1 {
    top: 4113px;
    left: 219px;
    font-size: var(--font-size-13xl);
    line-height: 100.5%;
    font-weight: 500;
    color: var(--color-gray-400);
    width: 232px;
    height: 39px;
  }
  .me1 {
    top: 3601px;
    left: 551px;
    font-size: var(--font-size-6xl);
    line-height: 197.5%;
    color: var(--color-gray-500);
    text-align: right;
    width: 767px;
    height: 293px;
  }
  .i-come-from1,
  .me1 {
    font-weight: 300;
  }
  .i-come-from-a-very-culturally1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .gofere1,
  .is-the-signature1 {
    font-family: var(--font-noto-sans-gujarati-ui);
  }
  .is-the-signature1 {
    font-weight: 300;
  }
  .shuruba-is-the-signature-hair1 {
    margin: 0;
  }
  .about-eth1,
  .meet1 {
    position: absolute;
    line-height: 197.5%;
    color: var(--color-gray-500);
    display: inline-block;
  }
  .about-eth1 {
    top: 4193px;
    left: 23px;
    font-size: var(--font-size-6xl);
    white-space: pre-wrap;
    width: 693px;
    height: 428px;
  }
  .meet1 {
    top: 4644px;
    left: 306px;
    font-size: var(--font-size-10xl);
    font-weight: 900;
    text-align: center;
    width: 415px;
    height: 45px;
  }






@media screen and (max-width: 35em) {
      /* hero setion logo and burger menu */
    .hepha-hero-icon,
    .logo-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 416px;
      height: 395px;
      object-fit: cover;
      animation: rotation 5s infinite linear;
    }

  
        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
    
          to {
            transform: rotate(360deg);
          }
        }
  
    .logo-icon {
      top: 68px;
      left: 151px;
      width: 85px;
      height: 80px;
    }
  
    .ham-icon {
      position: absolute;
      top: 13px;
      left: 11px;
      width: 41px;
      height: 41px;
      overflow: hidden;
    }
  
    .designer,
    .i-am-a,
    .programmer {
      position: absolute;
      top: 135px;
      left: 39px;
      font-size: var(--font-size-2xl);
      line-height: 100.5%;
      font-family: var(--font-nobile);
      display: inline-block;
      width: 211px;
      height: 40px;
    }
  
    .designer,
    .programmer {
      top: 148px;
      left: 38px;
      font-size: var(--font-size-11xl);
      width: 213px;
      height: 35px;
    }
  
    .programmer {
      top: 223px;
      width: 335px;
      height: 32px;
    }
  
    .hero-interest-peak,
    .hero-more {
      position: absolute;
      top: 296px;
      left: 45px;
      font-size: var(--font-size-5xl);
      line-height: 142.5%;
      font-weight: 900;
      display: inline-block;
      width: 360px;
      height: 75px;
    }
  
    .hero-more {
      top: 343px;
      left: 11px;
      font-size: var(--font-size-base);
      width: 259px;
      height: 158px;
    }
  
    .info-athena-icon,
    .info-img-icon {
      position: absolute;
      top: 419px;
      left: 0;
      width: 142px;
      height: 207px;
      object-fit: cover;
    }
  
    .info-img-icon {
      top: 343px;
      left: 216px;
      width: 198px;
      height: 439px;
    }
  
    .hello-i-am {
      font-weight: 600;
    }
  
    .span {
      font-size: 32px;
    }
  
    .eyob {
      font-size: var(--font-size-12xl);
    }
  
    .intro-greet,
    .intro-name {
      position: absolute;
      color: var(--color-tan-100);
      display: inline-block;
    }
  
    .intro-greet {
      top: 522px;
      left: 120px;
      line-height: 100.5%;
      width: 220px;
      height: 109px;
      font-size: 27px;
    }
  
    .intro-name {
      top: 574px;
      left: 225px;
      font-size: var(--font-size-xl);
      line-height: 147.5%;
      width: 141px;
      height: 31px;
    }
  
    .div1-3-icon {
      position: absolute;
      top: 1459px;
      left: 0;
      width: 831px;
      height: 708px;
      object-fit: cover;
    }
  
    .i-design-revolutionary {
      line-height: 197.5%;
    }
  
    .i-design-revolutionary-designs {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  
    .span1 {
      font-size: var(--font-size-base);
    }
  
    .and-i-shall1 {
      line-height: 122.5%;
    }
  
    .and-i-shall {
      margin: 0;
      font-size: 18px;
    }
  
    .intro-detail {
      position: absolute;
      top: 631px;
      left: 11px;
      font-weight: 300;
      display: inline-block;
      width: 270px;
      height: 189px;
      font-size: var(--font-size-base);
    }
  
    .box1-pro,
    .box2-pro,
    .box3-pro {
      position: absolute;
      top: 1939px;
      left: 0;
      background-color: var(--color-tan-200);
      width: 414px;
      height: 228px;
    }
  
    .box1-pro,
    .box2-pro {
      top: 1699px;
    }
  
    .box1-pro {
      top: 1459px;
    }
  
    .from-cal,
    .from-meta {
      position: absolute;
      top: 1039px;
      left: 260px;
      font-size: var(--font-size-base);
      line-height: 197.5%;
      font-weight: 300;
      display: inline-block;
      width: 107px;
      height: 22px;
    }
  
    .from-meta {
      top: 1288px;
      left: 267px;
      width: 48px;
      height: 14px;
    }
  
    .cer-cal,
    .cer-meta {
      font-size: var(--font-size-3xl);
    }
  
    .cer-cal {
      position: absolute;
      top: 1002px;
      left: 260px;
      line-height: 147.5%;
      font-weight: 900;
      display: inline-block;
      width: 108px;
      height: 48px;
    }
  
    .cer-meta {
      top: 1285px;
      left: 56px;
      line-height: 147%;
      width: 132px;
      height: 78px;
    }
  
    .cer-meta,
    .pro1,
    .pro3 {
      position: absolute;
      font-weight: 900;
      display: inline-block;
    }
  
    .pro1 {
      top: 1634px;
      left: 14px;
      font-size: var(--font-size-3xl);
      line-height: 147%;
      width: 202px;
      height: 20px;
    }
  
    .pro3 {
      top: 1863px;
      left: 19px;
      width: 197px;
    }
  
    .pro2,
    .pro3,
    .pro4,
    .pro5 {
      font-size: var(--font-size-3xl);
      line-height: 147%;
      height: 78px;
    }
  
    .pro5 {
      position: absolute;
      top: 2092px;
      left: 19px;
      font-weight: 900;
      display: inline-block;
      width: 181px;
    }
  
    .pro2,
    .pro4 {
      left: 220px;
      width: 183px;
    }
  
    .pro2 {
      position: absolute;
      top: 1634px;
      font-weight: 900;
      display: inline-block;
    }
  
    .pro4 {
      top: 1863px;
    }
  
    .certificates,
    .certificates1,
    .pro4,
    .pro6 {
      position: absolute;
      font-weight: 900;
      display: inline-block;
    }
  
    .pro6 {
      top: 2092px;
      left: 220px;
      font-size: var(--font-size-3xl);
      line-height: 147%;
      width: 194px;
      height: 78px;
    }
  
    .certificates,
    .certificates1 {
      top: 847px;
      left: -160px;
      line-height: 100.5%;
      color: var(--color-gray-800);
      text-align: right;
      width: 179px;
      height: 36px;
    }
  
    .certificates1 {
      top: 831px;
      left: -62px;
    }
  
    .div1-4-icon {
      top: 0;
      left: 245px;
      width: 414px;
      object-fit: cover;
    }
  
    .div1-1-icon,
    .div1-4-icon,
    .div3 {
      position: absolute;
      height: 38px;
    }
  
    .div1-1-icon {
      top: 0;
      left: 633px;
      width: 26px;
      object-fit: cover;
    }
  
    .div3 {
      top: 2167px;
      left: -245px;
      width: 1296px;
    }
  
    .div1-4-icon1 {
      top: 1459px;
      left: -46px;
      width: 663px;
      object-fit: cover;
    }
  
    .div1-1-icon1,
    .div1-4-icon1,
    .div2 {
      position: absolute;
      height: 38px;
    }
  
    .div1-1-icon1 {
      top: 0;
      left: 709px;
      width: 414px;
      object-fit: cover;
    }
  
    .div2 {
      top: 1421px;
      left: -709px;
      width: 1296px;
    }
  
    .div1-4-icon2 {
      top: 867px;
      left: -48px;
      width: 663px;
      object-fit: cover;
    }
  
    .div1,
    .div1-1-icon2,
    .div1-4-icon2 {
      position: absolute;
      height: 36px;
    }
  
    .div1-1-icon2 {
      top: 0;
      left: 711px;
      width: 414px;
      object-fit: cover;
    }
  
    .div1 {
      top: 831px;
      left: -711px;
      width: 1296px;
    }
  
    .about-me,
    .certificates2,
    .certificates3 {
      position: absolute;
      line-height: 100.5%;
      font-weight: 900;
      display: inline-block;
    }
  
    .about-me {
      top: 2189px;
      left: 207px;
      color: var(--color-gray-1000);
      width: 128px;
      height: 24px;
    }
  
    .certificates2,
    .certificates3 {
      text-align: right;
      width: 179px;
      height: 36px;
    }
  
    .certificates2 {
      top: 851px;
      left: -18px;
      color: var(--color-gray-800);
    }
  
    .certificates3 {
      top: 831px;
      left: -37px;
    }
  
    .certificates4,
    .certificates5 {
      color: var(--color-gray-800);
      text-align: right;
      width: 179px;
      height: 36px;
    }
  
    .certificates4 {
      position: absolute;
      top: 847px;
      left: 123px;
      line-height: 100.5%;
      font-weight: 900;
      display: inline-block;
    }
  
    .certificates5 {
      top: 831px;
      left: 153px;
    }
  
    .certificates5,
    .certificates6,
    .projects,
    .projects1 {
      position: absolute;
      line-height: 100.5%;
      font-weight: 900;
      display: inline-block;
    }
  
    .certificates6 {
      top: 851px;
      left: 265px;
      color: var(--color-gray-800);
      text-align: right;
      width: 179px;
      height: 36px;
    }
  
    .projects,
    .projects1 {
      width: 100px;
      height: 24px;
    }
  
    .projects {
      top: 1440px;
      left: -36px;
      color: var(--color-gray-900);
    }
  
    .projects1 {
      top: 1421px;
      left: 0;
    }
  
    .about-me1,
    .about-me2,
    .about-me3,
    .about-me4,
    .projects2,
    .projects3,
    .projects4,
    .projects5 {
      position: absolute;
      top: 2176px;
      left: 275px;
      line-height: 100.5%;
      font-weight: 900;
      display: inline-block;
      width: 128px;
      height: 24px;
    }
  
    .about-me2,
    .about-me3,
    .about-me4,
    .projects2,
    .projects3,
    .projects4,
    .projects5 {
      top: 2189px;
      left: 72px;
      color: var(--color-gray-1000);
    }
  
    .about-me3,
    .about-me4,
    .projects2,
    .projects3,
    .projects4,
    .projects5 {
      top: 2170px;
      left: -25px;
    }
  
    .about-me4,
    .projects2,
    .projects3,
    .projects4,
    .projects5 {
      top: 2168px;
      left: 147px;
    }
  
    .projects2,
    .projects3,
    .projects4,
    .projects5 {
      top: 1421px;
      left: 155px;
      color: var(--color-gray-900);
      width: 100px;
    }
  
    .projects3,
    .projects4,
    .projects5 {
      top: 1440px;
      left: 119px;
    }
  
    .projects4,
    .projects5 {
      left: 228px;
    }
  
    .projects5 {
      top: 1421px;
      left: 310px;
    }
  
    .cer1-icon,
    .cer3-icon {
      position: absolute;
      top: 885px;
      left: 22px;
      width: 236px;
      height: 165px;
      object-fit: cover;
    }
  
    .cer3-icon {
      top: 1085px;
      left: 21px;
      width: 292px;
      height: 200px;
    }
  
    .cer2-icon,
    .cer6-icon,
    .cer7 {
      position: absolute;
      height: 60px;
    }
  
    .cer6-icon {
      top: 1225px;
      left: 328px;
      width: 86px;
      object-fit: cover;
    }
  
    .cer2-icon,
    .cer7 {
      width: 87px;
    }
  
    .cer2-icon {
      top: 885px;
      left: 269px;
      object-fit: cover;
    }
  
    .cer7 {
      top: 1297px;
      left: 328px;
      background-color: var(--color-gray-200);
    }
  
    .cer4-icon,
    .cer5-icon {
      position: absolute;
      top: 1156px;
      left: 328px;
      width: 86px;
      height: 59px;
      object-fit: cover;
    }
  
    .cer4-icon {
      top: 1085px;
      left: 327px;
      width: 87px;
    }
  
    .pr-1-1-icon,
    .pr-1-2-icon,
    .pr-2-1-icon {
      position: absolute;
      top: 1471px;
      left: 7px;
      width: 205px;
      height: 157px;
      object-fit: cover;
    }
  
    .pr-1-2-icon,
    .pr-2-1-icon {
      top: 1718px;
      left: 19px;
      width: 181px;
      height: 139px;
    }
  
    .pr-2-1-icon {
      top: 1471px;
      left: 228px;
      width: 167px;
      height: 157px;
    }
  
    .pr-1-3-icon,
    .pr-2-2-icon,
    .pr-2-3-icon {
      position: absolute;
      top: 1718px;
      left: 233px;
      width: 181px;
      height: 139px;
      object-fit: cover;
    }
  
    .pr-1-3-icon,
    .pr-2-3-icon {
      top: 1940px;
      left: 243px;
      width: 129px;
      height: 148px;
    }
  
    .pr-1-3-icon {
      left: 19px;
      width: 181px;
      height: 138px;
    }
  
    .about-me5 {
      position: absolute;
      top: 2189px;
      left: 384px;
      line-height: 100.5%;
      font-weight: 900;
      color: var(--color-gray-1000);
      display: inline-block;
      width: 128px;
      height: 24px;
    }
  
    .about-box1 {
      position: absolute;
      top: 2201px;
      left: 0;
      background-color: var(--color-gray-200);
      border: 1px solid var(--color-black);
      box-sizing: border-box;
      width: 418px;
      height: 190px;
    }
  
    .div1-3-icon1 {
      position: absolute;
      top: 2612px;
      left: 0;
      width: 432px;
      height: 449px;
      object-fit: cover;
    }
  
    .about-box11 {
      position: absolute;
      top: 2422px;
      left: -2px;
      background-color: var(--color-gray-200);
      border: 1px solid var(--color-black);
      box-sizing: border-box;
      width: 418px;
      height: 190px;
    }
  
    .who-is-eyob {
      position: absolute;
      top: 2214px;
      left: 189px;
      font-size: 26px;
      line-height: 100.5%;
      display: inline-block;
      color: var(--color-gray-600);
      width: 193px;
      height: 29px;
    }
  
    .eth-king-icon {
      position: absolute;
      top: 2182px;
      left: 0;
      width: 240px;
      height: 240px;
      object-fit: cover;
    }
  
    .a-little-bit,
    .me {
      position: absolute;
      display: inline-block;
    }
  
    .a-little-bit {
      top: 2243px;
      left: 214px;
      font-size: var(--font-size-3xl);
      line-height: 100.5%;
      font-weight: 500;
      color: var(--color-gray-300);
      width: 174px;
      height: 14px;
    }
  
    .me {
      top: 2266px;
      left: 203px;
      font-size: 7px;
      line-height: 197.5%;
      font-weight: 300;
      color: var(--color-gray-500);
      text-align: right;
      width: 195px;
      height: 293px;
    }
  
    .eth-queen-icon {
      position: absolute;
      top: 2373px;
      left: 187px;
      width: 227px;
      height: 239px;
      object-fit: cover;
    }
  
    .ethiopia,
    .mother-land {
      position: absolute;
      line-height: 100.5%;
      display: inline-block;
    }
  
    .ethiopia {
      top: 2427px;
      left: 40px;
      font-size: 29px;
      color: var(--color-gray-600);
      width: 151px;
      height: 27px;
    }
  
    .mother-land {
      top: 2454px;
      left: 61px;
      font-size: var(--font-size-3xl);
      font-weight: 500;
      color: var(--color-gray-400);
      width: 86px;
      height: 14px;
    }
  
    .i-come-from {
      font-weight: 300;
    }
  
    .gofere,
    .is-the-signature {
      font-family: var(--font-noto-sans-gujarati-ui);
    }
  
    .is-the-signature {
      font-weight: 300;
    }
  
    .shuruba-is-the-signature-hair {
      margin: 0;
    }
  
    .about-eth {
      top: 2475px;
      left: 18px;
      font-size: var(--font-size-sm);
      line-height: 197.5%;
      color: var(--color-gray-500);
      white-space: pre-wrap;
      width: 208px;
      height: 133px;
    }
  
    .about-eth,
    .feedback,
    .meet {
      position: absolute;
      display: inline-block;
    }
  
    .meet {
      top: 2472px;
      left: 333px;
      font-size: var(--font-size-base);
      line-height: 197.5%;
      font-weight: 900;
      color: var(--color-gray-500);
      text-align: center;
      width: 85px;
      height: 61px;
    }
  
    .feedback {
      height: 0.5%;
      width: 121.74%;
      top: 92.94%;
      left: 31.4%;
      font-size: var(--font-size-3xl);
      line-height: 100.5%;
      font-family: var(--font-laila);
    }
  
    .comment {
      position: absolute;
      top: 2865px;
      left: 130px;
    }
  
    .copyright,
    .feedback-submit {
      width: 99px;
      position: absolute;
      top: 3003px;
      left: 309px;
    }
  
    .copyright {
      top: 3px;
      left: 0;
      line-height: 100.5%;
      display: inline-block;
      width: 28px;
      height: 5px;
    }
  
    .ricopyright-fill-icon {
      position: absolute;
      top: 0;
      left: 27px;
      width: 5px;
      height: 5px;
      overflow: hidden;
    }
  
    .cp {
      position: absolute;
      top: 3050px;
      left: 380px;
      width: 32px;
      height: 8px;
      font-size: var(--font-size-sm);
    }
  
    .jobera-designs {
      top: 3px;
      left: 0;
      line-height: 100.5%;
      display: inline-block;
      width: 45px;
      height: 6px;
    }
  
    .jobera-designs,
    .mditm-icon,
    .tm {
      position: absolute;
    }
  
    .mditm-icon {
      top: 0;
      left: 43px;
      width: 6px;
      height: 6px;
      overflow: hidden;
    }
  
    .tm {
      top: 3051px;
      left: 325px;
      width: 49px;
      height: 9px;
      font-size: var(--font-size-sm);
    }
  
    .vector-icon {
      height: 83.33%;
      width: 83.33%;
      top: 8.33%;
      right: 8.33%;
      bottom: 8.33%;
      left: 8.33%;
      max-width: 100%;
      max-height: 100%;
    }
  
    .instagram,
    .vector-icon,
    .vector-icon1 {
      position: absolute;
      overflow: hidden;
    }
  
    .instagram {
      text-decoration: none;
      top: 2865px;
      left: 43px;
      width: 31px;
      height: 31px;
    }
  
    .vector-icon1 {
      height: 83.13%;
      width: 83.33%;
      top: 8.33%;
      right: 8.33%;
      bottom: 8.54%;
      left: 8.33%;
      max-width: 100%;
      max-height: 100%;
    }
  
    .facebook,
    .twitter {
      text-decoration: none;
    }
  
    .facebook {
      position: absolute;
      top: 2905px;
      left: 44px;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }
  
    .twitter {
      top: 2944px;
      left: 43px;
      width: 32px;
      height: 32px;
    }
  
    .group-icon1,
    .telegram,
    .twitter {
      position: absolute;
      overflow: hidden;
    }
  
    .group-icon1 {
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
    }
  
    .telegram {
      text-decoration: none;
      top: 2987px;
      left: 46px;
      width: 27px;
      height: 27px;
    }
  
    .regarding1 {
      position: absolute;
      top: 2635px;
      left: 19px;
      font-size: var(--font-size-xl);
      line-height: 100.5%;
      text-align: center;
      display: inline-block;
      width: 212px;
      height: 20px;
    }
  
    .software-child {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: var(--br-lg);
      background-color: var(--color-gray-100);
      border: 2px solid var(--color-gray-1100);
      box-sizing: border-box;
    }
  
    .software-dev {
      position: absolute;
      height: 71.43%;
      width: 86.67%;
      top: 14.29%;
      left: 6.67%;
      line-height: 100.5%;
      display: inline-block;
    }
  
    .app,
    .banner,
    .brand,
    .consult,
    .drinks,
    .front,
    .logo,
    .software,
    .web {
      position: absolute;
      top: 2654px;
      left: 43px;
      width: 103px;
      height: 15px;
      cursor: pointer;
      font-size: var(--font-size-lg);
      color: var(--color-gray-700);
      font-family: var(--font-laila);
    }
  
    .app,
    .banner,
    .brand,
    .consult,
    .drinks,
    .front,
    .logo,
    .web {
      left: 164px;
      width: 125px;
    }
  
    .app,
    .banner,
    .brand,
    .consult,
    .drinks,
    .logo,
    .web {
      left: 307px;
      width: 80px;
    }
  
    .app,
    .banner,
    .consult,
    .drinks,
    .logo,
    .web {
      top: 2692px;
      left: 43px;
      width: 124px;
    }
  
    .banner,
    .consult,
    .drinks,
    .logo,
    .web {
      left: 185px;
      width: 88px;
    }
  
    .banner,
    .consult,
    .drinks,
    .web {
      left: 291px;
      width: 86px;
    }
  
    .banner,
    .drinks,
    .web {
      top: 2730px;
      left: 43px;
      width: 99px;
      height: 13px;
    }
  
    .banner,
    .drinks {
      left: 160px;
      width: 108px;
    }
  
    .drinks {
      left: 286px;
      width: 53px;
    }
  
    .connect {
      position: absolute;
      top: 2741px;
      left: 45px;
      font-size: var(--font-size-14xl);
      line-height: 100.5%;
      font-family: var(--font-overlock-sc);
      display: inline-block;
      width: 181px;
      height: 82px;
    }
  
    .logo-icon1 {
      position: absolute;
      top: 3014px;
      left: 0;
      width: 52px;
      height: 44px;
      object-fit: cover;
    }
  
    .hero-interest-peak1 {
      position: absolute;
      top: 3031px;
      left: 45px;
      font-size: var(--font-size-base);
      line-height: 142.5%;
      font-weight: 900;
      display: inline-block;
      width: 45px;
      height: 27px;
    }
  
    .mobile {
      position: relative;
      background-color: #140e0b;
      width: 100%;
      height: 3061px;
      overflow: hidden;
      text-align: left;
      font-size: var(--font-size-7xl);
      color: var(--color-white);
      font-family: var(--font-noto-sans-gujarati-ui);
    }
        }