.about-box12,
.about-box2 {
  position: absolute;
  top: 4009px;
  left: -27px;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1393px;
  height: 680px;
}
.about-box12 {
  top: 3326px;
  height: 633px;
}
.eth-king-icon1,
.eth-queen-icon1 {
  position: absolute;
  top: 3326px;
  left: 0;
  width: 680px;
  height: 680px;
  object-fit: cover;
}
.eth-queen-icon1 {
  top: 3907px;
  left: 584px;
  width: 782px;
  height: 782px;
}
.ethiopia1,
.who-is-eyob1 {
  position: absolute;
  top: 3379px;
  left: 634px;
  font-size: var(--font-size-16xl);
  line-height: 100.5%;
  display: inline-block;
  color: var(--color-gray-600);
  width: 732px;
  height: 132px;
}
.ethiopia1 {
  top: 4009px;
  left: 134px;
  width: 450px;
  height: 80px;
}
.a-little-bit1 {
  top: 3551px;
  left: 771px;
  font-size: var(--font-size-13xl);
  line-height: 100.5%;
  font-weight: 500;
  color: var(--color-gray-300);
  width: 363px;
  height: 37px;
}
.a-little-bit1,
.me1,
.mother-land1 {
  position: absolute;
  display: inline-block;
}
.mother-land1 {
  top: 4113px;
  left: 219px;
  font-size: var(--font-size-13xl);
  line-height: 100.5%;
  font-weight: 500;
  color: var(--color-gray-400);
  width: 232px;
  height: 39px;
}
.me1 {
  top: 3601px;
  left: 551px;
  font-size: var(--font-size-6xl);
  line-height: 197.5%;
  color: var(--color-gray-500);
  text-align: right;
  width: 767px;
  height: 293px;
}
.i-come-from1,
.me1 {
  font-weight: 300;
}
.i-come-from-a-very-culturally1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.gofere1,
.is-the-signature1 {
  font-family: var(--font-noto-sans-gujarati-ui);
}
.is-the-signature1 {
  font-weight: 300;
}
.shuruba-is-the-signature-hair1 {
  margin: 0;
}
.about-eth1,
.meet1 {
  position: absolute;
  line-height: 197.5%;
  color: var(--color-gray-500);
  display: inline-block;
}
.about-eth1 {
  top: 4193px;
  left: 23px;
  font-size: var(--font-size-6xl);
  white-space: pre-wrap;
  width: 693px;
  height: 428px;
}
.meet1 {
  top: 4644px;
  left: 306px;
  font-size: var(--font-size-10xl);
  font-weight: 900;
  text-align: center;
  width: 415px;
  height: 45px;
}
.hepha-hero-icon1 {
  position: absolute;
  top: 0;
  left: 318px;
  width: 1070px;
  height: 846px;
  object-fit: cover;
}
.designer1,
.i-am-a1 {
  font-family: var(--font-nobile);
  color: var(--color-turquoise);
}
.designer1 {
  position: absolute;
  top: 297px;
  left: 53px;
  font-size: var(--font-size-17xl);
  line-height: 100.5%;
  display: inline-block;
  width: 539px;
  height: 79px;
}
.i-am-a1 {
  top: 253px;
  left: 63px;
  font-size: 23px;
  width: 211px;
  height: 40px;
}
.b,
.i-am-a1,
.programmer1 {
  position: absolute;
  line-height: 100.5%;
  display: inline-block;
}
.programmer1 {
  top: 386px;
  left: 53px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-nobile);
  color: #00dffd;
  width: 844px;
  height: 79px;
}
.b {
  top: 340px;
  left: 734px;
  font-size: 41px;
  font-family: var(--font-lexend);
  color: var(--color-turquoise);
  width: 39px;
  height: 46px;
}
.some-of-the {
  font-size: 22px;
}
.hero-interest-peak2,
.hero-interest-peak3 {
  position: absolute;
  line-height: 142.5%;
  display: inline-block;
}
.hero-interest-peak2 {
  top: 506px;
  left: 8px;
  font-weight: 900;
  text-align: right;
  width: 539px;
  height: 75px;
  font-size: var(--font-size-12xl);
}
.hero-interest-peak3 {
  top: 5px;
  left: 151px;
  font-size: var(--font-size-2xl);
  font-weight: 200;
  width: 181px;
  height: 22px;
}
.hello-i-am1 {
  font-weight: 600;
}
.span7 {
  font-size: var(--font-size-15xl);
}
.eyob1 {
  font-size: 107px;
}
.intro-greet1 {
  position: absolute;
  top: 1115px;
  left: 474px;
  line-height: 100.5%;
  color: var(--color-tan-100);
  display: inline-block;
  width: 521px;
  height: 197px;
  font-size: 72px;
}
.div1-4-icon3 {
  top: 0;
  left: 0;
  width: 663px;
  object-fit: cover;
}
.div1-1-icon3,
.div1-4-icon3,
.div31 {
  position: absolute;
  height: 121px;
}
.div1-1-icon3 {
  top: 0;
  left: 633px;
  width: 663px;
  object-fit: cover;
}
.div31 {
  top: 3204px;
  left: 37px;
  width: 1296px;
}
.div1-4-icon4 {
  top: 0;
  left: 0;
  width: 663px;
  object-fit: cover;
}
.div1-1-icon4,
.div1-4-icon4,
.div11,
.div21 {
  position: absolute;
  height: 114px;
}
.div1-1-icon4 {
  top: 0;
  left: 633px;
  width: 663px;
  object-fit: cover;
}
.div11,
.div21 {
  top: 2684px;
  left: 35px;
  width: 1296px;
}
.div11 {
  top: 1947px;
  height: 121px;
}
.certificates7,
.projects6 {
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  font-weight: 900;
  text-align: right;
  height: 71px;
}
.certificates7 {
  position: absolute;
  top: 1972px;
  left: 734px;
  display: inline-block;
  width: 572px;
}
.projects6 {
  top: 2702px;
  left: 813px;
  width: 493px;
}
.about-me6,
.comma,
.intro-name1,
.projects6 {
  position: absolute;
  display: inline-block;
}
.about-me6 {
  top: 3242px;
  left: 825px;
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  font-weight: 900;
  text-align: right;
  width: 493px;
  height: 71px;
}
.comma,
.intro-name1 {
  top: 1224px;
  left: 785px;
  font-size: var(--font-size-8xl);
  line-height: 147.5%;
  color: var(--color-tan-100);
  width: 201px;
  height: 56px;
}
.comma {
  top: 1214px;
  left: 751px;
  font-size: var(--font-size-15xl);
  line-height: 100.5%;
  width: 34px;
  height: 60px;
}
.and-i-shall2 {
  margin: 0;
  font-size: 49px;
}
.intro-detail1 {
  position: absolute;
  top: 1408px;
  left: 30px;
  line-height: 197.5%;
  font-weight: 300;
  display: inline-block;
  width: 767px;
  height: 540px;
}
.cer1-icon1,
.cer3-icon1,
.cer6-icon1 {
  position: absolute;
  top: 2069px;
  left: 139px;
  width: 258px;
  height: 179px;
  object-fit: cover;
}
.cer3-icon1,
.cer6-icon1 {
  top: 2287px;
}
.cer6-icon1 {
  top: 2505px;
}
.cer2-icon1 {
  top: 2069px;
  left: 554px;
  object-fit: cover;
}
.cer2-icon1,
.cer4-icon1,
.cer5-icon1,
.cer71 {
  position: absolute;
  width: 258px;
  height: 179px;
}
.cer71 {
  top: 2505px;
  left: 554px;
  background-color: var(--color-gray-200);
}
.cer4-icon1,
.cer5-icon1 {
  top: 2287px;
  left: 969px;
  object-fit: cover;
}
.cer4-icon1 {
  left: 554px;
}
.pr-1-1-icon1,
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-1-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  position: absolute;
  top: 2799px;
  left: 139px;
  width: 258px;
  height: 179px;
  object-fit: cover;
}
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-1-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 3017px;
}
.pr-1-2-icon1,
.pr-1-3-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 2799px;
  left: 554px;
}
.pr-1-3-icon1,
.pr-2-2-icon1,
.pr-2-3-icon1 {
  top: 3017px;
}
.pr-1-3-icon1,
.pr-2-3-icon1 {
  left: 969px;
}
.pr-1-3-icon1 {
  top: 2799px;
}
.footer-img-icon,
.info-athena-icon1 {
  position: absolute;
  top: 4598px;
  left: 0;
  width: 1366px;
  height: 807px;
  object-fit: cover;
}
.info-athena-icon1 {
  top: 857px;
  width: 507px;
  height: 551px;
}
.a-designer-find {
  font-size: var(--font-size-8xl);
}
.connect2,
.hero-more1 {
  position: absolute;
  display: inline-block;
}
.hero-more1 {
  top: 599px;
  left: 53px;
  line-height: 142.5%;
  font-weight: 900;
  width: 713px;
  height: 158px;
  font-size: 47px;
}
.connect2 {
  top: 5074px;
  left: 54px;
  font-size: 99px;
  line-height: 100.5%;
  font-family: var(--font-overlock-sc);
  width: 424px;
  height: 239px;
}
.comment1,
.regarding3 {
  position: absolute;
  top: 4891px;
  left: 897px;
}
.regarding3 {
  top: 4794px;
  left: 54px;
  font-size: var(--font-size-10xl);
  line-height: 100.5%;
  font-family: var(--font-overlock-sc);
  text-align: center;
  display: inline-block;
  width: 367px;
  height: 35px;
}
.component-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.software-dev9 {
  position: absolute;
  height: 71.43%;
  width: 86.67%;
  top: 14.29%;
  left: 6.67%;
  line-height: 100.5%;
  display: inline-block;
}
.component-1 {
  position: relative;
  width: 271px;
  height: 35px;
  flex-shrink: 0;
}
.soft {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-11 {
  position: relative;
  width: 304px;
  height: 53px;
  flex-shrink: 0;
}
.app1 {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-12 {
  position: relative;
  width: 239px;
  height: 35px;
  flex-shrink: 0;
}
.web1 {
  text-decoration: none;
  position: absolute;
  top: 4996px;
  left: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-13 {
  position: relative;
  width: 281px;
  height: 35px;
  flex-shrink: 0;
}
.front1 {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 312px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-14 {
  position: relative;
  width: 221px;
  height: 35px;
  flex-shrink: 0;
}
.logo-des {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 363px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-15 {
  position: relative;
  width: 276px;
  height: 35px;
  flex-shrink: 0;
}
.banner1 {
  text-decoration: none;
  position: absolute;
  top: 4996px;
  left: 291px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-16 {
  position: relative;
  width: 182px;
  height: 35px;
  flex-shrink: 0;
}
.branding {
  text-decoration: none;
  position: absolute;
  top: 4852px;
  left: 608px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-17 {
  position: relative;
  width: 208px;
  height: 35px;
  flex-shrink: 0;
}
.cosult {
  text-decoration: none;
  position: absolute;
  top: 4924px;
  left: 607px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.component-18 {
  position: relative;
  width: 138px;
  height: 35px;
  flex-shrink: 0;
}
.drinks1 {
  text-decoration: none;
  top: 4996px;
  left: 589px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 28px;
  color: var(--color-gray-700);
  font-family: var(--font-laila);
}
.drinks1,
.group-icon2,
.telegram1 {
  position: absolute;
  overflow: hidden;
}
.group-icon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.telegram1 {
  text-decoration: none;
  top: 5357.4px;
  left: 259px;
  width: 45px;
  height: 45px;
}
.vector-icon2 {
  height: 83.13%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.54%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.facebook1,
.group-icon3,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.facebook1 {
  text-decoration: none;
  top: 5356.4px;
  left: 98px;
  width: 48px;
  height: 48px;
}
.group-icon3 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.instagram1,
.twitter1 {
  text-decoration: none;
  position: absolute;
  top: 5354.4px;
  left: 177px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.instagram1 {
  top: 5356.4px;
  left: 19px;
  width: 48px;
  height: 48px;
}
.footer-div {
  position: absolute;
  top: 5333px;
  left: 60px;
  border-top: 4px solid rgba(255, 255, 255, 0.57);
  box-sizing: border-box;
  width: 1246px;
  height: 4px;
}
.copyright1 {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 100.5%;
  display: inline-block;
  width: 80px;
  height: 13px;
}
.ricopyright-fill-icon1 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.copyright-parent {
  position: absolute;
  top: 5366px;
  left: 1231px;
  width: 85px;
  height: 23px;
  font-size: var(--font-size-4xl);
}
.jobera-designs1 {
  position: absolute;
  top: 6px;
  left: 0;
  line-height: 100.5%;
  display: inline-block;
  width: 116px;
  height: 13px;
}
.mditm-icon1 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.tm1 {
  position: absolute;
  top: 5370.4px;
  left: 1074px;
  width: 125px;
  height: 19px;
  font-size: var(--font-size-4xl);
}
.feedback-submit1,
.feedback1 {
  width: 142px;
  position: absolute;
  top: 5136px;
  left: 1041px;
}
.feedback1 {
  height: 0.28%;
  width: 36.9%;
  top: 89.92%;
  left: 63.76%;
  line-height: 100.5%;
  display: inline-block;
  font-family: var(--font-laila);
}
.info-img-icon1 {
  position: absolute;
  top: 757px;
  left: 806px;
  width: 560px;
  height: 914px;
  object-fit: cover;
}
.hero-contact-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 46px;
  background-color: #f0d5b4;
}
.contact-me {
  position: absolute;
  width: 95.18%;
  top: 28.26%;
  left: 2.57%;
  line-height: 100.5%;
  display: inline-block;
}
.contact-me:hover {
  color: var(--color-white);
}
.hero-contact {
  position: absolute;
  top: 660px;
  left: 1034px;
  width: 311px;
  height: 92px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--font-laila);
}
.logo-icon2 {
  position: absolute;
  top: 13px;
  left: 0;
  width: 182px;
  height: 156px;
  object-fit: cover;
}
.about-me7 {
  position: relative;
  line-height: 197.5%;
  background: linear-gradient(87.72deg, #3687ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  position: absolute;
  top: 48px;
  left: 1021px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-12xl);
}
.home {
  position: relative;
  line-height: 197.5%;
}
.home-wrapper,
.intro-wrapper,
.projects-wrapper {
  position: absolute;
  height: 94.64%;
  width: 12.54%;
  top: 0;
  right: 87.46%;
  bottom: 5.36%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.intro-wrapper,
.projects-wrapper {
  width: 13.17%;
  right: 65.67%;
  left: 21.16%;
}
.projects-wrapper {
  width: 18.81%;
  top: 5.36%;
  right: 0;
  bottom: 0;
  left: 81.19%;
}
.certifications {
  position: relative;
  line-height: 197.5%;
  cursor: pointer;
}
.certifications-wrapper {
  position: absolute;
  height: 94.64%;
  width: 31.82%;
  top: 0;
  right: 26.18%;
  bottom: 5.36%;
  left: 42.01%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav {
  position: absolute;
  top: 59px;
  left: 168px;
  width: 638px;
  height: 56px;
  font-size: var(--font-size-8xl);
}
.homepage {
  position: relative;
  background-color: #0a0505;
  width: 100%;
  height: 5405px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-gujarati-ui);
}
