.gif-icon,
.load-outer {
  position: absolute;
  border-radius: var(--br-md);
}
.load-outer {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 707px;
  height: 523px;
}
.gif-icon {
  top: 124px;
  left: 167px;
  width: 373px;
  height: 275px;
  object-fit: cover;
}
.overlay-desk {
  position: relative;
  width: 707px;
  height: 523px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
