@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati+UI:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nobile:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock+SC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-noto-sans-gujarati-ui: "Noto Sans Gujarati UI";
  --font-overlock-sc: "Overlock SC";
  --font-laila: Laila;
  --font-nobile: Nobile;
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-sm: 6px;
  --font-size-base: 9px;
  --font-size-lg: 10px;
  --font-size-xl: 12px;
  --font-size-2xl: 13px;
  --font-size-3xl: 14px;
  --font-size-4xl: 16px;
  --font-size-5xl: 17px;
  --font-size-6xl: 20px;
  --font-size-7xl: 21px;
  --font-size-8xl: 24px;
  --font-size-9xl: 25px;
  --font-size-10xl: 31px;
  --font-size-11xl: 34px;
  --font-size-12xl: 35px;
  --font-size-13xl: 37px;
  --font-size-14xl: 42px;
  --font-size-15xl: 77px;
  --font-size-16xl: 90px;
  --font-size-17xl: 92px;

  /* Colors */
  --color-gray-100: #d6e9fe;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #8b5f3d;
  --color-gray-400: #695648;
  --color-gray-500: #3d3d3d;
  --color-gray-600: #322b26;
  --color-gray-700: #050220;
  --color-gray-800: rgba(100, 94, 94, 0.6);
  --color-gray-900: rgba(85, 84, 84, 0.5);
  --color-gray-1000: rgba(102, 102, 102, 0.55);
  --color-gray-1100: rgba(255, 255, 255, 0.86);
  --color-gray-1200: rgba(0, 0, 0, 0.41);
  --color-black: #000;
  --color-white: #fff;
  --color-tan-100: #e7c97f;
  --color-tan-200: #b59674;
  --color-turquoise: #4ac9cb;

  /* Paddings */
  --padding-sm: 3px;
  --padding-md: 7px;
  --padding-lg: 18px;

  /* border radiuses */
  --br-sm: 21px;
  --br-md: 31px;
  --br-lg: 33px;
}
